<nav class="navbar">
  <div class="nav-brand">🏆 Pokémon Showcase</div>
  <ul class="nav-links">
    <li>
      <a routerLink="/home" routerLinkActive="active-link">Home</a>
    </li>
    <li>
      <a routerLink="/kanto" routerLinkActive="active-link">Kanto Region</a>
    </li>
    <li>
      <a routerLink="/johto" routerLinkActive="active-link">Johto Region</a>
    </li>
    <li>
      <a routerLink="/hoenn" routerLinkActive="active-link">Hoenn Region</a>
    </li>
    <li>
      <a routerLink="/pokemart" routerLinkActive="active-link">PokéMart</a>
    </li>
    <li>
      <a routerLink="/cart" routerLinkActive="active-link" class="cart-pill">
        🛒 Cart ({{ martService.cart().length }})
      </a>
    </li>
  </ul>
</nav>